[submodule ".templates/java-katas-template"]
	path = .templates/java-katas-template
	url = git@github.com:lean-mind/java-katas-template.git
[submodule ".templates/python-templates"]
	path = .templates/python-templates
	url = git@github.com:lean-mind/python-boilerplate.git
[submodule ".templates/javascript-kata-template"]
	path = .templates/javascript-kata-template
	url = git@github.com:lean-mind/javascript-katas-template.git
[submodule ".templates/typescript-boilerplate"]
	path = .templates/typescript-boilerplate
	url = git@github.com:lean-mind/typescript-boilerplate.git
